<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" id="footer-bar" class="footer-bar-1">


    <a href="/index.html"><i class="fa fa-home"></i><span>Home</span></a>
    <a href="/index-components.html"><i class="fa fa-star"></i><span>매장</span></a>
    <a href="/index-pages.html" class="active-nav"><i class="fa fa-heart"></i><span>Pages</span></a>
    <a href="/index-search.html"><i class="fa fa-search"></i><span>Search</span></a>
    <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a>


</div>
</html>