<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>StickyMobile BootStrap</title>
    <link rel="stylesheet" type="text/css" href="https://hoonytemplatebucket.s3.ap-northeast-2.amazonaws.com/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://hoonytemplatebucket.s3.ap-northeast-2.amazonaws.com/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://hoonytemplatebucket.s3.ap-northeast-2.amazonaws.com/fonts/css/fontawesome-all.min.css">
    <link rel="manifest" href="https://hoonytemplatebucket.s3.ap-northeast-2.amazonaws.com/_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
    <link rel="apple-touch-icon" sizes="180x180" href="https://hoonytemplatebucket.s3.ap-northeast-2.amazonaws.com/app/icons/icon-192x192.png">
</head>

</html>